@import '../../../assets/scss/utils/variables';

.hawk-input-group {
  display: flex;
  .hawk-input {
    &__wrapper {
      width: 100%;
    }
    &__disabled {
      cursor: unset;
    }
  }
  .hawk-button {
    cursor: unset;
    &:hover {
      background-color: #6997DB;
      box-shadow: unset;
    }
    i {
      font-size: 16px;
      margin: 0 5px;
    }
    &__contained {
      &-disabled {
        color: $gray-1;
        opacity: unset;
        background-color: $gray-3;
        border: 1px solid $gray-2;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        &:hover {
          background-color: $gray-3;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
          -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
      }
    }
  }
  &__addon {
    &-size {
      &__small {
        .hawk-button {
          padding: 8px;
        }
      }
      &__medium {
        .hawk-button {
          padding: 8px 20px;
        }
      }
      &__large {
        .hawk-button {
          padding: 8px 40px;
        }
      }
    }
    &-placement {
      &__left {
        flex-direction: row;
        .hawk-button {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .hawk-input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      &__right {
        flex-direction: row-reverse;
        .hawk-button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .hawk-input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
  &__label {
    margin-bottom: 5px;
  }
  &__description {
    font-size: 12px;
    margin-top: 6px;
    color: $blue-5;
  }
  &__error {
    border-color: $red-1;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 134, 134, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 134, 134, 0.6);
    &-message {
      color: $red-1;
      font-size: 13px;
    }
  }
  .hawk-checkbox {
    height: 17px;
    padding-left: 18px;
  }
  .hawk-radio {
    height: 17px;
    padding-left: 20px;
    &__checkmark {
      height: 16px;
      width: 16px;
      &::after {
        top: 3px;
        left: 3px;
      }
    }
  }
}
