@import '../../../assets/scss/utils/variables';

.hawk-file-upload {
  input[type=file] {
    display: none;
  }
  .hawk-button {
    width: 100px; 
  }
  &__section {
    display: flex;
    align-items: center;
  }
  &__option {
    width: calc(100% - 110px);
    margin-right: 10px;
  }
}
