// Colors
$white: white;
$black: black;

$gray-1: #555555;
$gray-2: #cccccc;
$gray-3: #e9ecef;
$gray-4: #9e9e9e;
$gray-5: #e4e7eb;
$gray-6: #f5f6f7;
$gray-7: #1f4160;
$gray-8: #d9d9d9;
$gray-9: #dbdfe0;
$gray-10: #6f7995;

$blue-1: #6997DB;
$blue-2: #eaf1fa;
$blue-3: #5b8dd7;
$blue-4: #425a70;
$blue-5: #66788a;
$blue-6: #d5f6f6;

$red-1: #e09595;
$red-2: #f6d6d5;
$red-3: #e48481;

$green-1: #33c333;
$green-2: #67af67;
$green-3: #d5f6d5;
$green-4: #408c40;
$green-5: #2dd2d2;

$yellow-1: #ffc107;

$orange-1: #f6eed5;
$orange-2: #dbba57;

// fonts
$standard-font-size: 14px;

// box shadows
$box-shadow-1: 0 1px 2px 1px rgba(90, 90, 90, 0.16);
$box-shadow-2: 0 1px 4px 1px rgba(0,0,0,.18); // on hover
$box-shadow-button: 0 1px 3px rgba(0,0,0,.4);
$box-shadow-modal: -2px 2px 12px 0 rgba(0, 0, 0, 0.1);

// opacity
$opacity-disabled: 0.6;
