// Colors
$white: white;
$black: black;

$gray-1: #555555;
$gray-2: #cccccc;
$gray-3: #e9ecef;
$gray-4: #9e9e9e;
$gray-5: #e4e7eb;
$gray-6: #f5f6f7;

$blue-1: #6997DB;
$blue-2: #eaf1fa;
$blue-3: #5b8dd7;
$blue-4: #425a70;
$blue-5: #66788a;

$red-1: #e09595;

$green-1: #33c333;

// fonts
$standard-font-size: 14px;

// box shadows
$box-shadow-button: 0 1px 3px rgba(0,0,0,.4);
$box-shadow-modal: -2px 2px 12px 0 rgba(0, 0, 0, 0.1);

// opacity
$opacity-disabled: 0.6;
