@import '../../../assets/scss/utils/variables';

.hawk-progress-bar {
  progress {
    width: 100%;
    background-color: #f3f3f3;
    border: 0;
    height: 8px;
    border-radius: 9px;
    &::-webkit-progress-bar {
      background-color: #f3f3f3;
      border-radius: 9px;
    }
    &.danger {
      &::-webkit-progress-value {
        background: $red-1;
        border-radius: 9px;
      }
      &::-moz-progress-bar {
        background: $red-1;
        border-radius: 9px;
      }
    }
    &.warning {
      &::-webkit-progress-value {
        background: $yellow-1;
        border-radius: 9px;
      }
      &::-moz-progress-bar {
        background: $yellow-1;
        border-radius: 9px;
      }
    }
    &.success {
      &::-webkit-progress-value {
        background: $green-2;
        border-radius: 9px;
      }
      &::-moz-progress-bar {
        background: $green-2;
        border-radius: 9px;
      }
    }
  }
}
