@import '../../../assets/scss/utils/variables';

progress {
  width: 100%;
  background-color: #f3f3f3;
  border: 0;
  height: 8px;
  border-radius: 9px;
  &::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 9px;
  }
  &.danger {
    &::-webkit-progress-value {
      background: $red-1;
    }
    &::-moz-progress-bar {
      background: $red-1;
    }
  }
  &.warning {
    &::-webkit-progress-value {
      background: $yellow-1;
    }
    &::-moz-progress-bar {
      background: $yellow-1;
    }
  }
  &.primary {
    &::-webkit-progress-value {
      background: $blue-1;
    }
    &::-moz-progress-bar {
      background: $blue-1;
    }
  }
  &.success {
    &::-webkit-progress-value {
      background: $green-2;
    }
    &::-moz-progress-bar {
      background: $green-2;
    }
  }
}
