@import '../../../assets/scss/utils/variables';

.hawk-select-dropdown {
  position: relative;
  .hawk-input {
    padding: 4px 35px 4px 10px;
    &__wrapper {
      position: unset;
    }
  }
  .hawk-suggestions__wrap {
    position: absolute;
    z-index: 1;
  }
  &__icon {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 9px;
    opacity: .8;
    margin: -3px;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
  }
}
