@import '../../../assets/scss/utils/variables';

.hawk-select-dropdown {
  position: relative;
  .hawk-input {
    padding: 4px 35px 4px 10px;
    &__wrapper {
      position: unset;
    }
    &__read-only {
      cursor: pointer;
    }
    &__disabled {
      cursor: not-allowed;
    }
  }
  .hawk-suggestions__wrap {
    position: absolute;
    z-index: 1;
  }
  &__icon {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 9px;
    opacity: .8;
    margin: -3px;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
  }
  &__label {
    margin-bottom: 5px;
  }
  &__description {
    font-size: 12px;
    margin-top: 6px;
    color: $blue-5;
  }
  &__error {
    border-color: $red-1;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 134, 134, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 134, 134, 0.6);
    &-message {
      color: $red-1;
      font-size: 13px;
    }
  }
}
