@import '../../../assets/scss/utils/variables';

.hawk-stepper {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  &__step {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:last-child {
      &::after {
        width: 50%;
        transform: translateX(-50%);
      }
    }
    &:first-child {
      &::after {
        width: 50%;
        transform: translateX(50%);
      }
    }
    &::after {
      content: "";
      width: 100%;
      height: 5px;
      position: absolute;
      top: 32px;
      background-color: #f1f1f1;
      z-index: 0;
    }
    &-upper-text {
      font-size: 11px;
      line-height: 1.5;
      text-align: center;
      color: #999;
      height: 20px;
      display: block;
    }
    &-lower-text {
      font-size: 14px;
      line-height: 1.57;
      text-align: center;
      color: #999;
      display: block;
    }
    &-dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      display: inline-block;
      background-color: #fff;
      border: 1px solid #f1f1f1;
    }
    &-rounded {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 3px solid #2378e1;
    }
  }
  .active {
    .hawk-stepper__step-dot {
      background-color: #2378e1;
    }
    .hawk-stepper__step-lower-text {
      color: #2378e1;
    }
    &::after {
      background-color: #2378e1;
    }
  }
}
