@import '../../../assets/scss/utils/variables';

.hawk-stepper {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  &__step {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
      content: "";
      width: 100%;
      height: 5px;
      position: absolute;
      top: 32px;
      background-color: $gray-14;
      z-index: 0;
      transform: translateX(-50%);
    }
    &:first-child {
      &::after {
        width: 100%;
        transform: translateX(50%);
      }
    }
    &:last-child {
      &::after {
        width: 100%;
        transform: translateX(-50%);
      }
    }
    &-title {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: $gray-7;
      display: block;
    }
    &-description {
      font-size: 14px;
      text-align: center;
      color: $gray-7;
      display: block;
      margin-top: 6px;
    }
    &-rounded {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 3px solid $gray-14;
      background-color: $white;
      z-index: 1;
      transition: 0.4s ease;
      margin-top: 6px;
      &::after {
        content: '✔';
        color: $white;
        text-align: center;
        display: block;
        line-height: 23px;
      }
    }
  }
  .active {
    .hawk-stepper {
      &__step {
        &-rounded {
          background-color: $blue-1;
          border-color: $blue-1;
        }
        &-title {
          color: $blue-1;
        }
        &-description {
          color: $blue-1;
        }
      }
    }
    &::after {
      background-color: $blue-1;
      transition: 0.4s ease;
    }
  }
}
