@import '../../../../../../assets/scss/utils/variables';

.border-styles {
  .hawk-label {
    margin-bottom: 5px;
  }
  .hawk-select-dropdown {
    width: 150px;
  }
  .hawk-input-group {
    width: 80px;
    .hawk-button {
      width: 30px;
    }
    .hawk-input__wrapper {
      width: 50px;
    }
  }
}
