@import '../../../assets/scss/utils/variables';

.hawk-checkbox {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 19px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: $standard-font-size;
  color: $gray-7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &__title {
    margin-bottom: 10px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__label {
    margin-top: -2px;
    text-transform: capitalize;
  }
  a {
    text-decoration: none;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .hawk-checkbox__checkmark {
      background: $blue-1;
      border-color: $blue-1;
      &:after {
        display: block;
      }
    }
  }
  &:hover {
    input ~ .hawk-checkbox__checkmark {
      cursor: pointer;
    }
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: $white;
    border: 1px solid $gray-2;
    border-radius: 4px;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  .hawk-checkbox__checkmark {
    &-error {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    &:after {
      left: 4px;
      top: 0px;
      width: 5px;
      height: 9px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotatxe(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__description {
    font-size: 12px;
    margin-top: 6px;
    color: $blue-5;
  }
  &__error {
    border-color: $red-1;
    box-shadow: inset 0 0 5px 0 rgba(255, 134, 134, 0.6);
    &-message {
      color: $red-1;
      font-size: 13px;
    }
  }
}