@import '../../../../../../assets/scss/utils/variables';

.layout-section {
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}
.layout-row {
  display: flex;
}
.layout-column {
  flex: 1;
  margin: 0 2px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.layout-banner {
  padding: 10px;
  border: 2px solid $gray-4;
  border-radius: 2px;
  background-color: $white;
}
.layout-divider {
  border-top: 2px solid $gray-4;
  margin-top: 2px;
}
