@import '../../../../../../assets/scss/utils/variables';

.hawk-email-editor-layouts {
  display: flex;
  flex-wrap: wrap;
  .card-block {
    width: 100px;
    height: 110px;
    margin: 10px;
    padding: 10px;
    border: 0;
    box-shadow: 0 1px 2px 1px rgba(90, 90, 90, 0.16);
    background-color: $white;
    border-radius: 4px;
    outline: 0;
    opacity: 0.5;
    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.18);
      border: 1px solid $blue-1;
      background-color: $blue-2;
    }
    &:focus {
      outline: 0;
    }
  }
  .active {
    border: 1px solid $blue-1;
    background-color: $blue-2;
  }
}

.layout-section {
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}
.layout-row {
  display: flex;
}
.layout-column {
  flex: 1;
  margin: 0 2px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.layout-banner {
  padding: 10px;
  border: 2px solid $gray-4;
  border-radius: 2px;
  background-color: $white;
}
.layout-divider {
  border-top: 2px solid $gray-4;
  margin-top: 2px;
}
