@import '../../../../assets/scss/utils/variables';

.button-editor {
  margin: 5px;
  display: inline-flex;
}
.text-editor {
  margin: 5px;
}
.divider-editor {
  margin: 20px 0;
}
.column-editor {
  margin: 5px;
  border-radius: 4px;
}
.image-editor {
  margin: 5px;
  height: 200px;
  border: 1px solid #bbb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__box {
    .hawk-button {
      margin: 10px auto;
    }
  }
}
.component-selected {
  position: relative;
  &::after {
    content: ' ';
    border-color: #6997DB;
    border-width: 1px;
    border-style: dashed;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: block;
  }
  &__options {
    background-color: #6997DB;
    display: flex;
    align-items: center;
    position: fixed;
    color: #fff;
    margin-top: -29px;
    font-size: 12px;
    padding: 8px;
    border-radius: 4px;
    &-icon {
      margin-left: 5px;
      cursor: pointer;
      .fa-arrows-alt {
        font-size: 11px;
      }
    }
  }
}