@import '../../../assets/scss/utils/variables';
@import './reset.scss';

.hawk-rich-text-editor {
  &__toolbar {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    .hawk-button {
      font-size: 13px;
      margin-left: 5px;
      padding: 5px 8px;
      border-color: #ffffff;
      background-color: #ffffff;
      color: #6997DB;
      &:hover {
        box-shadow: unset;
        background-color: #eaf1fa;
      }
      i {
        margin-right: 0;
      }
    }
    .hawk-dropdown {
      margin-left: 5px;
      &__button-icon {
        font-size: 13px;
      }
      .hawk-button {
        background-color: #eaf1fa;
      }
      &__menu {
        transform: translate3d(0px, 30px, 0px);
      }
    }
    .hawk-color-picker {
      .hawk-button {
        border-color: #6997DB;
        background-color: #6997DB;
        color: $white;
        &:hover {
          background-color: #5b8dd7;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        }
      }
      &__input-picker {
        width: 31px;
        height: 27px;
        border-radius: 4px;
        margin-left: 5px;
        padding: 0;
        border-color: #ffffff;
        background-color: #ffffff;
        color: #6997DB;
        &:hover {
          box-shadow: unset;
          background-color: #eaf1fa;
        }
        &__color {
          height: 27px;
          width: 31px;
          border-radius: 4px;
          &:hover {
            background-color: #eaf1fa !important;
          }
        }
        i {
          font-size: 13px;
        }
      }
      &__dropdown {
        left: 6px;
        transform: translate3d(0px, 30px, 0px);
      }
    }
  }
  &__editable {
    padding: 10px;
    height: 200px;
    overflow: auto;
    font-size: 14px;
    &:focus {
      outline: none;
    }
    &-blank {
      &::before {
        color: rgba(0,0,0,0.6);
        content: attr(data-placeholder);
        pointer-events: none;
        position: absolute;
      }
    }
  }
  &__modal {
    .hawk-modal__content {
      width: 300px;
      height: 300px;
      position: absolute;
      left: 50%;
      top: 50%; 
      margin-left: -150px;
      margin-top: -150px;
    }
  }
  &:not([contenteditable=""]), :not([contenteditable="true"]) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
