@import '../../../assets/scss/utils/variables';

.hawk-rating {
  &__group {
    display: inline-flex;
  }
  &__icon {
    pointer-events: none;
    color: $orange-3;
  }
  &__input {
    position: absolute !important;
    display: none;
    &-none {
      display: none;
    }
  }
  &__label {
    cursor: pointer;
    padding: 0 3px;
    font-size: 32px;
  }
}
.hawk-rating__input:checked ~ .hawk-rating__label .hawk-rating__icon {
  color: $gray-11;
}
.hawk-rating__group:hover .hawk-rating__label .hawk-rating__icon {
  color: $orange-3;
}
.hawk-rating__input:hover ~ .hawk-rating__label .hawk-rating__icon {
  color: $gray-11;
}
