@import '../../../assets/scss/utils/variables';

.hawk-collapse {
  &-item {
    background-color: white;
    margin: 16px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    &-header {
      padding: 8px 48px 8px 16px;
      min-height: 48px;
      line-height: 16px;
      font-size: 14px;
      font-weight: bold;
      color: #425a70;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      &::after {
        content: "\002B";
        font-size: 23px;
        font-weight: bold;
        position: absolute;
        right: 16px;
        transition: all 0.2s ease;
      }
    }
    .active {
      &::after {
        content: "\2212";
      }
    }
    &-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      &-content {
        padding: 16px;
        line-height: 1.5;
        border-top: 1px solid #e4e7eb;
        font-size: 14px;
        color: #425a70;
      }
    }
  }
}
