@import '../../../assets/scss/utils/variables';

.hawk-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  &__horizontalTop {
    flex-direction: column;
  }
  &__horizontalBottom {
    flex-direction: column-reverse;
  }
  &__container {
    display: flex;
    flex-wrap: nowrap;
  }
  .hawk-button {
    position: absolute;
    background: hsla(0,0%,100%,.75);
    border: none;
    color: $gray-12;
  }
  &__prev-next {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
    &.previous {
      left: 10px;
    }
    &.next {
      right: 10px;
    }
  }
  &__navigation {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    .active {
      background: $white;
    }
    &-dot {
      height: 12px;
      width: 12px;
      margin: 0 3px;
      background: hsla(0,0%,100%,.75);
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      cursor: pointer;
      &:hover {
        background: $white;
      }
    }
  }
  &__thumbnail {
    display: flex;
    justify-content: center;
    &-item {
      width: 130px;
      height: 75px;
      border-radius: 7px;
      border: 2px solid $white;
      opacity: 0.6;
      margin: 10px 5px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
    .active {
      opacity: 1;
      border: 2px solid $blue-1;
    }
  }
}
