@import '../../../assets/scss/utils/variables';

.hawk-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  &__container {
    display: flex;
    flex-wrap: nowrap;
  }
  .hawk-button {
    position: absolute;
    background: hsla(0,0%,100%,.75);
    border: none;
    color: $gray-12;
  }
  &__prev-next {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
    &.previous {
      left: 10px;
    }
    &.next {
      right: 10px;
    }
  }
  &__navigation {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    .active {
      background: $white;
    }
    &-dot {
      height: 12px;
      width: 12px;
      margin: 0 3px;
      background: hsla(0,0%,100%,.75);
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      cursor: pointer;
      &:hover {
        background: $white;
      }
    }
  }
}
