@import '../../../../assets/scss/utils/variables';

.column-editor-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #f5f6f7;
  &__column {
    flex: 1;
    padding: 10px;
    border: 1px solid #f5f6f7;
  }
}
