@import '../../../assets/scss/utils/variables';

.hawk-button {
  font-size: $standard-font-size;
  font-weight: 500;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  text-decoration: none;
  letter-spacing: 0.05px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  i {
    margin-right: 5px;
  }
  &__text {
    border-color: transparent;
    background-color: $white;
    color: $blue-1;
    &:hover {
      background-color: $blue-2;
    }
    &-disabled {
      cursor: not-allowed;
      opacity: $opacity-disabled;
      &:hover {
        background-color: $white;
      }
    }
  }
  &__outlined {
    border-color: $blue-1;
    background-color: $white;
    color: $blue-1;
    &:hover {
      background-color: $blue-2;
    }
    &-disabled {
      cursor: not-allowed;
      opacity: $opacity-disabled;
      &:hover {
        background-color: $white;
      }
    }
  }
  &__contained {
    border-color: $blue-1;
    background-color: $blue-1;
    color: $white;
    &:hover {
      background-color: $blue-3;
      box-shadow: $box-shadow-button;
    }
    &-disabled {
      cursor: not-allowed;
      opacity: $opacity-disabled;
      &:hover {
        background-color: $blue-1;
      }
    }
  }
}
