@import '../../../assets/scss/utils/variables';

.hawk-button {
  border-radius: 4px;
  font-size: $standard-font-size;
  font-weight: 500;
  text-align: center;
  padding: 8px;
  display: block;
  overflow: hidden;
  text-decoration: none;
  letter-spacing: 0.05px;
  outline: none;
  background-color: $white;
  color: $black;
  -webkit-transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow-button;
  }
  &__disabled {
    cursor: not-allowed;
    opacity: $opacity-disabled;
  }
}
