@import '../../../../../../assets/scss/utils/variables';

.hawk-email-editor {
  height: 100%;
  &__container {
    height: 100%;
    display: flex;
  }
  &__frame {
    width: calc(100% - 430px);
    padding: 10px;
    overflow: auto;
    background-color: #f5f6f7;
    div {
      border-radius: 4px;
    }
  }
  &__panel {
    width: 430px;
    height: 100%;
    border-left: 1px solid #d9d9d9;
  }
}

.hawk-email-editor-header {
  .hawk-tabbed {
    &__content {
      padding: 10px;
    }
    &__header {
      &-item {
        text-transform: capitalize;
      }
    }
  }
}

.hawk-email-editor-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #d9d9d9;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.hawk-email-editor-layouts {
  display: flex;
  flex-wrap: wrap;
  .card-block {
    width: 100px;
    height: 110px;
    margin: 10px;
    padding: 10px;
    border: 0;
    box-shadow: 0 1px 2px 1px rgba(90, 90, 90, 0.16);
    background-color: $white;
    border-radius: 4px;
    outline: 0;
    opacity: 0.5;
    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.18);
      border: 1px solid $blue-1;
      background-color: $blue-2;
    }
    &:focus {
      outline: 0;
    }
  }
  .active {
    border: 1px solid $blue-1;
    background-color: $blue-2;
  }
}

.hawk-email-editor-blocks {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  .card-block {
    width: 100px;
    height: 110px;
    margin: 10px;
    padding: 10px;
    border: 0;
    box-shadow: 0 1px 2px 1px rgba(90, 90, 90, 0.16);
    background-color: $white;
    border-radius: 4px;
    outline: 0;
    opacity: 0.5;
    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.18);
      border: 1px solid $blue-1;
      background-color: $blue-2;
    }
    &:focus {
      outline: 0;
    }
  }
  &__icon {
    i {
      font-size: 30px;
      color: $gray-4;
    }
  }
  &__title {
    color: $gray-4;
    margin-top: 5px;
    font-size: 14px;
  }
  .active {
    border: 1px solid $blue-1;
    background-color: $blue-2;
  }
}

.hawk-email-editor-styles {
  .hawk-collapse {
    &__header {
      border: unset;
      color: #9e9e9e;
      font-size: 16px;
      &-title {
        font-size: 16px;
        color: #9e9e9e;
      }
    }
  }
}

.column-editor-setting {
  height: unset !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .card-block {
    width: 100px;
    height: 110px;
    margin: 10px;
    padding: 10px;
    border: 0;
    box-shadow: 0 1px 2px 1px rgba(90, 90, 90, 0.16);
    background-color: $white;
    border-radius: 4px;
    outline: 0;
    opacity: 0.5;
    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.18);
      border: 1px solid $blue-1;
      background-color: $blue-2;
    }
    &:focus {
      outline: 0;
    }
  }
  .active {
    border: 1px solid $blue-1;
    background-color: $blue-2;
  }
  .layout-banner {
    width: 100%;
    height: 20px;
    padding: 0;
    border-right: 0;
    border-radius: 0;
    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-right: 2px solid #9e9e9e;
    }
  }
}

.editor-form {
  &-section {
    margin-top: 25px;
    &__row {
      display: flex;
    }
    &__column {
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
    }
    .hawk-label {
      margin-bottom: 5px;
    }
  }
}
