@import '../../../assets/scss/utils/variables';

.hawk-toast {
  position: relative;
  padding: 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: -2px 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-left: 5px solid #6997DB;
  &__top-right {
    margin: 10px 10px 0 0;
    &-animation {
      transition: transform .6s ease-in-out;
      animation: toast-in-right .7s;
    }
  }
  &__bottom-right {
    margin: 0 10px 10px 0;
    &-animation {
      transition: transform .6s ease-in-out;
      animation: toast-in-right .7s;
    }
  }
  &__top-left {
    margin: 10px 0 0 10px;
    &-animation {
      transition: transform .6s ease-in;
      animation: toast-in-left .7s;
    }
  }
  &__bottom-left {
    margin: 0 0 10px 10px;
    &-animation {
      transition: transform .6s ease-in;
      animation: toast-in-left .7s;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 13px;
    &-icon {
      margin-top: 4px;
      font-size: 18px;
      margin-right: 10px;
    }
    &-close {
      font-size: 14px;
      font-weight: 500;
      color: #555555;
      cursor: pointer;
    }
  }
  .fa-check-circle {
    color: $green-4;
  }
  .fa-times-circle {
    color: $red-3;
  }
  .fa-info-circle {
    color: $green-5;
  }
  .fa-exclamation-triangle {
    color: $orange-2;
  }
  &__content {
    &-title {
      font-weight: 500;
      text-transform: capitalize;
    }
    &-message {
      text-transform: capitalize;
      font-size: 13px;
    }
  }
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
