@import '../../../assets/scss/utils/variables';

.hawk-sidebar {
  flex-shrink: 0;
  z-index: 1;
  box-shadow: rgba(67, 90, 111, 0.42) 0px 0px 1px 0px;
  &--expanded {
    width: 250px;
    &-container {
      margin: 0 20px;
      padding-top: 20px;
      .hawk-sidebar--section-menu-item {
        justify-content: space-between;
        padding: 5px 10px;
        border-radius: 4px;
        margin: 10px 0;
      }
    }
    &-header {
      &-title {
        margin-bottom: 30px;
      }
      &-element {
        margin-bottom: 30px;
      }
    }
    &-footer {
      &-element {
        display: flex;
        justify-content: center;
      }
    }
  }
  &--collapsed {
    width: 75px;
    &-container {
      padding: 0;
      .hawk-sidebar--section-menu {
        &-item {
          justify-content: center;
          padding: 20px 0;
        }
        .hawk-tooltip {
          &__content {
            top: 14px;
          }
        }
      }
    }
    &-header {
      &-title {
        padding: 20px 0;
        text-align: center;
      }
      &-element {
        display: flex;
        justify-content: center;
        padding: 20px 0;
      }
    }
    &-footer {
      &-title {
        text-align: center;
      }
      &-element {
        display: flex;
        justify-content: center;
      }
    }
  }
  &--container {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    &-pane {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      margin-bottom: 20px;
    }
    &-item {
      &-section {
        border-bottom: 1px solid #d9d9d9;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          border-bottom: 0;
        }
        .title {
          margin: 10px 0;
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
  &--section-menu {
    display: flex;
    flex-direction: column;
    &-link {
      text-decoration: unset;
      .active {
        background-color: #E8EAF6;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      &:hover {
        background-color: #E8EAF6;
      }
    }
  }
}
