@import '../../../assets/scss/utils/variables';

.hawk-table {
  &__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .hawk-input__label {
      margin-bottom: 0;
    }
    .hawk-input {
      width: 160px;
      margin-left: 10px;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    thead tr {
      border: 1px solid $gray-5;
      background-color: $gray-6;
    }
    tbody tr {
      border: 1px solid $gray-5;
      &:hover {
        background-color: $gray-6;
      }
    }
    th {
      font-size: 14px;
      font-weight: 500;
      color: $blue-4;
      padding: 8px;
      text-align: left;
    }
    td {
      font-size: 14px;
      color: $blue-4;
      text-align: left;
      padding: 12px 8px;
    }
  }

  .hawk-pagination {
    display: flex;
    justify-content: flex-end;
    .hawk-pagination__page {
      color: $white;
      background-color: $blue-1;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      border: 1px solid transparent;
      padding: 4px 10px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      user-select: none;
      text-decoration: none;
      margin-right: 1px;
    }
  }
}
