@import '../../../assets/scss/utils/variables';

.hawk-table {
  &__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .hawk-input__label {
      margin-bottom: 0;
    }
    .hawk-input {
      width: 160px;
      margin-left: 10px;
    }
  }
  &__content {
    div {
      margin-top: 7px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    thead tr {
      border: 1px solid $gray-5;
      background-color: $gray-6;
    }
    tbody {
      tr {
        border: 1px solid $gray-5;
        &:hover {
          background-color: $gray-6;
        }
      }
      .active {
        background-color: $gray-6;
      }
      .not-found {
        text-align: center;
      }
    }
    th {
      font-size: 14px;
      font-weight: 500;
      color: $blue-4;
      padding: 8px;
      text-align: left;
      span {
        margin-right: 10px;
      }
      .icon {
        cursor: pointer;
      }
    }
    td {
      font-size: 14px;
      color: $blue-4;
      text-align: left;
      padding: 12px 8px;
    }
  }

  .hawk-pagination {
    display: flex;
    justify-content: flex-end;
    .hawk-pagination__page {
      color: $white;
      background-color: $blue-1;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      border: 1px solid transparent;
      padding: 4px 10px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      user-select: none;
      text-decoration: none;
      margin-right: 1px;
    }
  }
  .minus {
    .hawk-checkbox__checkmark {
      &::after {
        left: 6px;
        top: 2px;
        width: 0px;
        height: 8px;
        -webkit-transform: rotatxe(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}
